/.idea/*
/.run/
/.gradle/
/projects/mcp/build
/projects/minecraft/build
/projects/minecraft/src
/projects/catroom/build
/projects/catroom/src
/buildSrc/.gradle/
/buildSrc/build/
/buildSrc/out/
/logs/
build/
version.txt
src/main/java/com/cleanroommc/common/CleanroomVersion.java

!/.idea/icon.svg
